*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
}
.background-container {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.top-left-oval {
  position: absolute;
  transform: translate(-29%, -50%);
}
.bottom-right-oval {
  position: absolute;
  transform: translate(26%, 62%);
  bottom: 0px;
  right: 0px;
}

.card-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: white;
  width: 350px;
  height: 375px;
  text-align: center;
  border-radius: 15px;
}
.card-header {
  border-radius: 15px 15px 0 0;
}
.card-image {
  position: relative;
  border: 5px solid white;
  top: -55px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
}
.card-body {
  position: relative;
  top: -35px;
}
.card-body-name {
  font-weight: 700;
  display: inline;
}
.card-body-age {
  display: inline;
  color: hsl(227, 10%, 46%);
}
.card-body-location {
  margin: 10px;
  color: hsl(227, 10%, 46%);
  font-size: 16px;
}
hr {
  border: none;
  height: 1px;
  position: relative;
  top: -15px;
  background-color: #e8e9ec;
}
.card-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-footer-item {
  flex: 30%;
}
.card-footer-item-stats {
  font-weight: 700;
}
.card-footer-item-type {
  font-size: 12px;
  color: hsl(227, 10%, 46%);
  margin: 7px;
}

@media (max-width: 600px) {
  .card {
    width: 320px;
  }
  .card-header {
    width: 320px;
  }
  .card-footer-item {
    margin-top: 10px;
  }
  .top-left-oval {
    height: 622px;
    width: 622px;
    transform: rotate(45deg);
    transform: translate(-65%, -60%);
  }
  .bottom-right-oval {
    height: 622px;
    width: 622px;
    transform: rotate(45deg);
    transform: translate(66%, 46%);
  }
}
